<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card form-card card-body">
      <h3 class="text-center">Account Login</h3>
      <form method="post" action="/users/login">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" name="email" class="form-control shadow-none" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control shadow-none" required>
        </div>
        <button type="submit" class="btn btn-primary shadow-none">Login</button>
      </form>
    </div>
  </div>
</div>