
<div class="card form-card card-body">
    <h3 class="text-center">Add new hot dog</h3>
    <form action="/hotdogs" method="post">
        <div class="form-group">
            <label for="type">Name</label>
            <input type="text" class="form-control shadow-none" name="type">
        </div>
         <div class="form-group">
            <label for="image">Image Url</label>
            <input type="text" class="form-control shadow-none" name="image">
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients</label>
            <textarea type="text" class="form-control shadow-none" name="ingredients"></textarea>
        </div>
        <button type="submit" class="btn btn-primary shadow-none">Add hot dog</button>
    </form>
</div>
